{{define "page"}}
<main>

    <section class="hero container">
        <h1>Bienvenue sur ZiimForum!</h1>
        <p>Rejoignez la discussion, partagez vos connaissances et trouvez des réponses.</p>
            {{if .IsAuthenticated}}
            
            {{else}}
        <div>
            <a href="/register" class="btn">S'inscrire</a>
            <a href="/login" class="btn btn-outline">Se connecter</a>
        </div>
        {{end}}
    </section>

    <section class="container">
        <h2>Catégories</h2>
        <div class="grid">
            {{range .Categories}}
                {{template "category-card" .}}
            {{end}}
        </div>
    </section>

    <section class="container">
        <h2>Discussions Récentes</h2>
        <div class="grid">
            {{range .Posts}}
                {{template "post-card" .}}
            {{else}}
                <p>Aucune discussion récente pour le moment.</p>
            {{end}}
        </div>
    </section>
</main>
{{end}}