{{define "page"}}
<!--POUR REQUETE DB : faut recup pseudo, mdp, mail et hacher les mdp avant de les stocker-->
 
 <main class="container" style="padding: 1rem;">
        
        <section class="error-page">
            <div class="register-card error-card">
                
                <h1 style="font-size: 2.5rem;">Créer votre compte</h1>
                <p class="text-muted" style="margin-top: -1rem; margin-bottom: 2rem; font-size: 1.1rem;">Rejoignez notre communauté!</p>

                {{if .Message}}
                <div class="alert alert-danger">{{.Message}}</div>
                {{end}}

                <form method="post" action="/register">
                    
                    <div class="form-group" style="margin-bottom: 1rem;">
                        <input type="text" id="username" name="username" placeholder=" votrePseudo" required 
                               class="form-input">
                    </div>

                    <div class="form-group" style="margin-bottom: 1rem;">
                        <input type="email" id="email" name="email" placeholder=" votre@email.com" required 
                               class="form-input">
                    </div>

                    <div class="form-group" style="margin-bottom: 1rem;">
                        <input type="password" id="password" name="password" placeholder=" **********" required 
                               class="form-input">
                    </div>

                    <button type="submit" class="btn" style="width: 100%; margin-top: var(--space-md);">S'inscrire</button>
                </form>

                <p id="toggleMessage" style="margin-top: 1rem; text-align: center; color: var(--text-muted);">
                    Vous avez déjà un compte ? 
                    <a href="/login" style="margin-bottom: 1rem; color: var(--accent-secondary); font-weight: bold;">Connectez-vous ici</a>
                </p>

            </div>
        </section>
    </main>
{{end}}
